* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: slategray;
  cursor: pointer;
}
body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #303030;
}
.container{
  background-color: #191927;
  width: fit-content;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}
h1{
  text-align: center;
  color: #fff;
  margin-top: 15px;
}

.input-section {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
 
  & input{
    width: 100%;
    height: 35px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #222;
    padding: 10px 0;
    box-shadow: 0 0 10px black;
    border-radius: 5px;

  }
}
button {
  font-size: 1rem;
  width: 100%;
  padding: 10px 0;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}
.income,
.expense{
  width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}
.add-income-btn{
  background-color: rgb(3, 117, 9);

  &:hover{
    background-color: rgb(0, 187, 31);
  }
}
.add-expense-btn{
  background-color: rgb(117, 3, 26);

  &:hover{
    background-color: rgb(187, 0, 37);
  }
}
.result-btn{
  background-color: rgb(83, 64, 206);
  
  &:hover{
    background-color: slateblue;
  }

}
.income-container,
.expense-container,
.result-container{
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px black;
}

th,
td {
  padding: 8px;
  text-align: center;
  color: #fff;
}
th {
  color: white;
}

.income-table{

  & th {
    background-color: rgb(3, 117, 9);
  }

  & th,
  td {
    border: 1px solid rgb(3, 117, 9);
  }
}
.expense-table{
  & th {
    background-color: rgb(117, 3, 26);
  }

  & th,
  td {
    border: 1px solid rgb(117, 3, 26);
  }
}
.result-table{
  & th {
    background-color: rgb(83, 64, 206);
  }

  & th,
  td {
    border: 1px solid rgb(83, 64, 206);
  }
}

.delete-btn {
  padding: 5px 10px;
  background-color: rgb(187, 0, 37);
  color: white;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: rgb(136, 0, 27);
  }
}
section{
  max-height: 460px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 5px;
  overflow-y: auto;
  margin-top: 10px;
}

@media (width < 480px) {
  .container{
    width: 100%;
  }
  h1{
    font-size: 1rem;
  }
  .input-section {
    flex-direction: column;
  }
  .income,
  .expense{
      row-gap: 5px;
  }
  button {
    font-size: 0.75rem;
  }
  th,td {
    padding: 8px 5px;
  }
}
@media (width < 340px) {
  th,td {
    font-size: 0.7rem;
  }
}
